/* Pag foto i principal*/
.foto{
    text-align: center;
}
#screenshot-stream {
	width: initial;
	height: initial;
}
.videostream,
#cssfilters-stream {
	width: 307px;
	height: 250px;
	background: rgba(255,255,255,0.5);
	border: 1px solid #ccc;
}
#screenshot,
#screenshot-canvas {
	vertical-align: top;
	display: none;
}
button {
	background: #333;
	color: #FFF;
	border-radius: 4px;
	border: 0;
	padding: 5px 9px;
}