.cerrarForm{
    background: none repeat scroll 0% 0% #CED8E0;
    line-height: 2.5em;
    text-align: center;
    border: 1px solid #337AB7;
    padding: 0px 10px;
    border-radius: 7px;
    position: absolute;
    top: 14.5em;
    right: 9%;
    z-index: 1;
}
.listInforme{
    line-height: 2.5em;
    text-align: center;
    border: 1px solid #337AB7;
    padding: 0px 10px;
    border-radius: 7px;
}
.table-border{
    margin-top: 20px;
}
.tablaUltimForm{
    clear: both;
    margin-bottom: 20px;
}
.graficos{
    /*float: left;
    display: inline;*/

}
#grafic {
    /* border: 3px solid blue; */
    padding-right: 20px;
}
.tratamiento{
    /* border: 3px solid green; */
    /* position: absolute;
    width: 50%;*/
}
@media (max-width:569px){
    .tablaUltimForm {
        margin: 0%;
    }
}

@media (max-width:767px){
    .cerrarForm {
        right: 1%;
    }
}