/*pagina principal*/
.navSuperior{
    background-color: #0099FF;
    width: 100%;
    height: 80px;
    padding: 10px;
    display:inline-flex;
}
.logo{
    border: 3px solid black;
    background-color: #0066FF;
    height: 50px;
    width: 100px;
}
.loginUser{
    position: absolute;
    border: 3px solid black;
    margin-left: 60%;
    min-width:25%;
    //float: left;
    //display: inline-flex;
}
.usuario{
    /* height: 114%; */
    /* width: 50%; */ 
    /* border: 3px solid black; */
    position:absolute;
    left: 5%;
    /* padding-bottom: 3px; */
    /* margin-right: 5%; */
}
.desc{
    font-size: 14px;
}
.desconect{
    float: right;
}
.datosPaciente{
    background-color: #00CCFF;
    width: 100%;
    height: 100px;
    margin-top:80px;
}
.loginPaciente{
    width: 30%;
    min-width: 30%;
    margin:5%;
}
.titol{
    background-color: #0099FF;
    width: 100%;
    font-family: monospace;
    text-align: center;
    font-variant: small-caps;
    font-size:2em;
    margin-top: 4px;
}
.btn {
    margin: 7px 0px 7px 4px;
    position:relative;
    width: 45%;
}
.camas {
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    min-width: 320px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.bed {
    width: auto;
    height:auto;
    padding: 1.2%;
    border: 0.2em solid red;
    display: inline-flex;
    background: green;
}
.redBed{
    background: red;
}
.iconoBed{
    font-size: 3.5em;
    text-align: center;
}
.bajo{
    font-size: 0.4em;
}
.datosCentral{
    margin-top: 80px;
    position: absolute;
    height: 100%;
    width: 100%;
    display: inline;
}
.calendario{
    //border: 6px dotted black;
    width: 60%;
    max-height: 900px;
    float: left;
    position: relative;
    min-width: 320px;
    background-color: white;
    margin-top: 5%;
}
.box {
    //width: 90%;
    max-width: 400px;
}
.tablaDatos{
    width: 100%;
}
.tablaDatos th,
.tablaDatos td{
    border: 3px solid #000;
}
.fila {
    height:40px;
    font-size: 1.2em
}
td{
    text-indent: 0.4em
}
.TNombre {
    width: 8%;
}
.TPaciente{
    width: 15%;
}
.TCip{
    width: 8%;
}
.resultado{
    width: 40%;
}
.form{
    clear: both;
    width: 90%;
}
.operaciones{
    /* border: 3px solid red; */
    /* padding-left: 4%; */
    /* height: 385px; */
    /* float: left; */
    /* max-width: 570px; */
    text-align: center;
}
.tablaPaciente, .tablaConstantes {
    border: 2px solid black;
}
.tablaConstantes td,
.tablaConstantes th,
.tablaPaciente td,
.tablaPaciente th {
    border:2px solid black;
    padding: 0px 5px;
    min-width: 70px;
}
.tablaPaciente {
    margin-left: 5%;
}
#tablaConsultaPaciente{
    margin-top: 100px;
    margin-bottom: -80px;
}
@media (max-width:600px){
    .iconoBed {
        font-size: 3em;
    }
    .bed{
        height: auto;
    }
}
.titol3 {
    font-family: monospace;
    text-align: center;
    font-variant: small-caps;
    font-size:2em;
    margin-top: 4px;
}