.tabla{
	position:absolute;
	top: 45em;
	left: 40%;
	vertical-align: bottom;
}

.tabla td, .tabla th{
	font-size: 1.5em;
	border: 1px solid #000;
	padding: 0px 5px;
}
.logo{
    margin-top: 7px;
}
.pass{
	padding-left: 10px;
	color:green;
}