/* Index */
*{
	margin: 0;
	padding: 0;
}
body{
	position: absolute;
	height: 100%;
	width: 100%;
}
.global{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	display:table;
	height:100%;
	padding: 1em 0px;
	width:100%;
}
.globalOuter,.cuadroDialogo{
	margin:0 auto;
	position:relative;
}
.globalOuter{
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}
.cuadroDialogo{
	background-clip:padding-box;
	border-radius:4px;
	box-shadow:0 1px 5px rgba(0,0,0,.1);
	background:#fdfdfd;
	border:1px solid #a4baca;
	width:400px;
}
.cabecera{
	border-radius: 4px 4px 0px 0px;
	box-shadow: 0px -1px 0px #06365F inset, 0px 1px 0px rgba(255, 255, 255, 0.2) inset;
	background-color: #517FA4;
	background-image: #306088;
	background-position: 50% 50%;
	border-width: 1px 1px 0px;
	border-color: #1C5380;
	border-style: solid;
	color: #FFF;
	font-size: 18px;
	height: 50px;
	margin: -1px -1px 1px;
	position: relative;
	text-align: center;
}
.titulo{
	bottom: 30%;
	position:inherit;
}
.principal{
	padding-bottom: 5px;
}
.formContainer{
	padding: 7px;
}
.error{
	padding-left: 10px;
	color:red;
}
.questionpass{
	line-height: 35px;
	position: absolute;
	right: 20px;
	text-align: center;
}
.questionpass:hover,.questionpass:focus{
	text-decoration: none;
}
.cerrar{
	background: #CED8E0;
	line-height: 35px;
	position: absolute;
	right: 35px;
	top: 25px;
	text-align: center;
	border: 1px solid #337AB7;
	padding: 0px 10px;
	border-radius: 7px;
}
.cerrar:hover, .cerrar:focus{
	background: #85B2D5;
	text-decoration: none;
}